page-login {

    .back{
        background-color: #488aff;
    }
    

    .circle {
        height: 150px;
        width: 150px;
        background-color: white;
        border-radius: 50%;
        margin-top: 10%;
        margin-left: 28%;
    }

    img{
        padding: 30px;
    }

   
    #text{
        padding-top: 2%;
        color: white;
        font-style: italic;
        text-align: center;
        font-size: 3.5em;
    }

    .list{
        background-color: #488aff;
        font-weight: bolder;
        color: white;
        
    }

    .lists{
        margin-top: 35%;
        margin-bottom: 10%;
    }

    #link{
        margin-top: 2%;
        color: black;
        font-weight: bolder;
        text-align: center;
    }

}
