page-signup {

    .back{
        background-color: #488aff;
    }

    h1{
        color: white;
        padding-top: 15%;
        font-size: 7em;
    }
    .list{
        background-color: #488aff;
        font-weight: bold;
        color: white;
        
    }

    .lists{
        margin-top: 14%;
        
    }

}
